@import "~bootstrap/scss/bootstrap";

header {

    .header-top {
        background-color: #0482F9;
        color: white;
        font-size: 12px;
        padding: 10px 0;
    }

    .header-bottom {

        a {
            color: black;
            font-size: 14px;
        }
        
        span {
            border-bottom: 2px solid #0482F9 ;
        }
    }
}
