@import "~bootstrap/scss/bootstrap";

header {
    height: 120px;

    .header-top {
        background-color: #0482F9;
        height: 30px;
        color: white;
    }

    .header-bottom {
        height: 90px;
        a {
            color: black;
        }
    }
}
